{% extends 'base.html.twig' %}


{% block main %}
    <h1>{{ quizz.question }}</h1>

    <p>{{ quizz.answer }}</p>
    <p>{{ quizz.answer2 }}</p>
    <p>{{ quizz.answer3 }}</p>
    <p>{{ quizz.answer4 }}</p>
{% endblock %}






